html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.landingPageContainer {
    min-height: 100vh;
    width: 100vw;
    background: url("/background.jpg") center center / cover no-repeat fixed;
    color: white;
}

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.landingPageContainer nav .navlist {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 70vh;
    align-items: center;
}

.landingMainContainer>div:nth-child(1) {
    font-size: 2.2rem;
}

.landingMainContainer>div:nth-child(1) div[role="button"] {
    background: #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 40px;
    margin-top: 1.4rem;
}

.landingMainContainer>div:nth-child(1) div[role="button"] a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.9rem;
}

.landingMainContainer>div:nth-child(2) img {
    height: 65vh;
    width: auto;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
    text-align: center;
}

.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}

.leftPanel {
    height: 100%;
    display: flex;
    align-items: center;

}

.rightPanel {
    display: flex;
    align-items: center;
}

.rightPanel>img {
    width: 30vw;
    height: auto;
    border-radius: 20px;
}